* {
    padding: 0;
    margin: 0;
}

#bg {
	position: relative;
	width: 414px;
	height: 736px;
	background: #4E95FF;
}

#bg h1{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 59px;
	/* identical to box height */
	text-align: left;
	color: white;
	position: relative;
	top: 140px;
	margin-left: 30px;

}

#bg h2{
	font-family: Montserrat;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	text-align: left;
	position: relative;
	top: 145px;
	margin-left: 30px;
	margin-right: 30px;
	color: white;

}

#bg p{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */
	text-align: center;
	top: 200px;
	margin-left: 30px;
	margin-right: 30px;
	color: white;
	position: relative;
}



#tick {
	position: relative;
	width: 203px;
	height: 203px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	top: 88px;
	background-color: white;
	background-image: url("../picture/tick.png");
}


#home {
	position: relative;
	width: 335px;
	height: 44px;
	top: 250px;
	display: block;
	background: #4E19C0;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
}

#home h2 {
	font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 47px;
    text-align: center;
    color: white;
    position: relative;
    top: 0;


}







