* {
    padding: 0;
    margin: 0;
}


.x {

	position: relative;
	width: 45.55px;
	height: 45.55px;
	top: 58.21px;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 50%;
	margin-left: auto;
    margin-right: auto;
    background-image: url("../picture/x.png");
    margin-bottom: 80px;
    background-position: center;
    background-size: contain;
}

#bg {
	position: absolute;
	width: 414px;
	height: 736px;
	background: #4E95FF;
	top: 0;
}

#bg h1{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: 14px;
	line-height: 22px;
	text-align: left;
	margin-top: 10px;
	margin-left: 30px;
	color: white;
	position: relative;
}


input[type=text] {
    background-color: transparent;
   
    width: 85%;
    height: 20px;
    border: none;
    border-bottom: 2px solid white;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
  }

 input[type=password] {
   	top: 2px;
    width: 85%;
    height: 20px;
    border: none;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
  }

#next {
	position: relative;
	width: 335px;
	height: 44px;
	top: 15px;
	display: block;
	background: #4E19C0;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
}

#next h2 {
		font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 47px;
    text-align: center;
    color: white;
    position: relative;
    top: 0;

}

td {
	position: relative;
	left: 30px;
	color: white;
}




select{
	position: relative;
	left: 30px;
	color: white;
}









